In [1]:
from yahoo_fin.stock_info import get_data

In [2]:
amazon_daily = get_data("amzn", start_date="12/04/2009",
                         end_date="12/04/2019", index_as_date=True, interval="1d")

amazon_daily

,open,high,low,close,adjclose,volume,ticker
2009-12-04,143.419998,143.449997,135.110001,137.580002,137.580002,14827400,AMZN
2009-12-07,138.000000,139.000000,133.839996,134.210007,134.210007,7837000,AMZN
2009-12-08,134.300003,136.080002,132.869995,134.110001,134.110001,8002800,AMZN
2009-12-09,134.600006,134.710007,129.820007,131.309998,131.309998,12632900,AMZN
2009-12-10,132.410004,136.190002,132.399994,135.380005,135.380005,11343600,AMZN
...,...,...,...,...,...,...,...
2019-11-26,1779.920044,1797.030029,1778.349976,1796.939941,1796.939941,3181200,AMZN
2019-11-27,1801.000000,1824.500000,1797.310059,1818.510010,1818.510010,3025600,AMZN
2019-11-29,1817.780029,1824.689941,1800.790039,1800.800049,1800.800049,1923400,AMZN
2019-12-02,1804.400024,1805.550049,1762.680054,1781.599976,1781.599976,3925600,AMZN
2019-12-03,1760.000000,1772.869995,1747.229980,1769.959961,1769.959961,3380900,AMZN

In [3]:
for row in amazon_daily:
    print(row)

open
high
low
close
adjclose
volume
ticker

In [4]:
import numpy as np
import pandas as pd

In [5]:
array_amazon = amazon_daily.to_numpy()

In [6]:
array_amazon

array([[143.4199981689453, 143.4499969482422, 135.11000061035156, ...,
        137.5800018310547, 14827400, 'AMZN'],
       [138.0, 139.0, 133.83999633789062, ..., 134.2100067138672,
        7837000, 'AMZN'],
       [134.3000030517578, 136.0800018310547, 132.8699951171875, ...,
        134.11000061035156, 8002800, 'AMZN'],
       ...,
       [1817.780029296875, 1824.68994140625, 1800.7900390625, ...,
        1800.800048828125, 1923400, 'AMZN'],
       [1804.4000244140625, 1805.550048828125, 1762.6800537109375, ...,
        1781.5999755859375, 3925600, 'AMZN'],
       [1760.0, 1772.8699951171875, 1747.22998046875, ...,
        1769.9599609375, 3380900, 'AMZN']], dtype=object)

In [7]:
amazon_daily.index

DatetimeIndex(['2009-12-04', '2009-12-07', '2009-12-08', '2009-12-09',
               '2009-12-10', '2009-12-11', '2009-12-14', '2009-12-15',
               '2009-12-16', '2009-12-17',
               ...
               '2019-11-19', '2019-11-20', '2019-11-21', '2019-11-22',
               '2019-11-25', '2019-11-26', '2019-11-27', '2019-11-29',
               '2019-12-02', '2019-12-03'],
              dtype='datetime64[ns]', length=2516, freq=None)

In [8]:
dates = amazon_daily.index.to_numpy()

string_dates = [str(pd.to_datetime(x).date()) for x in dates]
string_dates

['2009-12-04',
 '2009-12-07',
 '2009-12-08',
 '2009-12-09',
 '2009-12-10',
 '2009-12-11',
 '2009-12-14',
 '2009-12-15',
 '2009-12-16',
 '2009-12-17',
 '2009-12-18',
 '2009-12-21',
 '2009-12-22',
 '2009-12-23',
 '2009-12-24',
 '2009-12-28',
 '2009-12-29',
 '2009-12-30',
 '2009-12-31',
 '2010-01-04',
 '2010-01-05',
 '2010-01-06',
 '2010-01-07',
 '2010-01-08',
 '2010-01-11',
 '2010-01-12',
 '2010-01-13',
 '2010-01-14',
 '2010-01-15',
 '2010-01-19',
 '2010-01-20',
 '2010-01-21',
 '2010-01-22',
 '2010-01-25',
 '2010-01-26',
 '2010-01-27',
 '2010-01-28',
 '2010-01-29',
 '2010-02-01',
 '2010-02-02',
 '2010-02-03',
 '2010-02-04',
 '2010-02-05',
 '2010-02-08',
 '2010-02-09',
 '2010-02-10',
 '2010-02-11',
 '2010-02-12',
 '2010-02-16',
 '2010-02-17',
 '2010-02-18',
 '2010-02-19',
 '2010-02-22',
 '2010-02-23',
 '2010-02-24',
 '2010-02-25',
 '2010-02-26',
 '2010-03-01',
 '2010-03-02',
 '2010-03-03',
 '2010-03-04',
 '2010-03-05',
 '2010-03-08',
 '2010-03-09',
 '2010-03-10',
 '2010-03-11',
 '2010-03-12',
 '2010-03-15',
 '2010-03-16',
 '2010-03-17',
 '2010-03-18',
 '2010-03-19',
 '2010-03-22',
 '2010-03-23',
 '2010-03-24',
 '2010-03-25',
 '2010-03-26',
 '2010-03-29',
 '2010-03-30',
 '2010-03-31',
 '2010-04-01',
 '2010-04-05',
 '2010-04-06',
 '2010-04-07',
 '2010-04-08',
 '2010-04-09',
 '2010-04-12',
 '2010-04-13',
 '2010-04-14',
 '2010-04-15',
 '2010-04-16',
 '2010-04-19',
 '2010-04-20',
 '2010-04-21',
 '2010-04-22',
 '2010-04-23',
 '2010-04-26',
 '2010-04-27',
 '2010-04-28',
 '2010-04-29',
 '2010-04-30',
 '2010-05-03',
 '2010-05-04',
 '2010-05-05',
 '2010-05-06',
 '2010-05-07',
 '2010-05-10',
 '2010-05-11',
 '2010-05-12',
 '2010-05-13',
 '2010-05-14',
 '2010-05-17',
 '2010-05-18',
 '2010-05-19',
 '2010-05-20',
 '2010-05-21',
 '2010-05-24',
 '2010-05-25',
 '2010-05-26',
 '2010-05-27',
 '2010-05-28',
 '2010-06-01',
 '2010-06-02',
 '2010-06-03',
 '2010-06-04',
 '2010-06-07',
 '2010-06-08',
 '2010-06-09',
 '2010-06-10',
 '2010-06-11',
 '2010-06-14',
 '2010-06-15',
 '2010-06-16',
 '2010-06-17',
 '2010-06-18',
 '2010-06-21',
 '2010-06-22',
 '2010-06-23',
 '2010-06-24',
 '2010-06-25',
 '2010-06-28',
 '2010-06-29',
 '2010-06-30',
 '2010-07-01',
 '2010-07-02',
 '2010-07-06',
 '2010-07-07',
 '2010-07-08',
 '2010-07-09',
 '2010-07-12',
 '2010-07-13',
 '2010-07-14',
 '2010-07-15',
 '2010-07-16',
 '2010-07-19',
 '2010-07-20',
 '2010-07-21',
 '2010-07-22',
 '2010-07-23',
 '2010-07-26',
 '2010-07-27',
 '2010-07-28',
 '2010-07-29',
 '2010-07-30',
 '2010-08-02',
 '2010-08-03',
 '2010-08-04',
 '2010-08-05',
 '2010-08-06',
 '2010-08-09',
 '2010-08-10',
 '2010-08-11',
 '2010-08-12',
 '2010-08-13',
 '2010-08-16',
 '2010-08-17',
 '2010-08-18',
 '2010-08-19',
 '2010-08-20',
 '2010-08-23',
 '2010-08-24',
 '2010-08-25',
 '2010-08-26',
 '2010-08-27',
 '2010-08-30',
 '2010-08-31',
 '2010-09-01',
 '2010-09-02',
 '2010-09-03',
 '2010-09-07',
 '2010-09-08',
 '2010-09-09',
 '2010-09-10',
 '2010-09-13',
 '2010-09-14',
 '2010-09-15',
 '2010-09-16',
 '2010-09-17',
 '2010-09-20',
 '2010-09-21',
 '2010-09-22',
 '2010-09-23',
 '2010-09-24',
 '2010-09-27',
 '2010-09-28',
 '2010-09-29',
 '2010-09-30',
 '2010-10-01',
 '2010-10-04',
 '2010-10-05',
 '2010-10-06',
 '2010-10-07',
 '2010-10-08',
 '2010-10-11',
 '2010-10-12',
 '2010-10-13',
 '2010-10-14',
 '2010-10-15',
 '2010-10-18',
 '2010-10-19',
 '2010-10-20',
 '2010-10-21',
 '2010-10-22',
 '2010-10-25',
 '2010-10-26',
 '2010-10-27',
 '2010-10-28',
 '2010-10-29',
 '2010-11-01',
 '2010-11-02',
 '2010-11-03',
 '2010-11-04',
 '2010-11-05',
 '2010-11-08',
 '2010-11-09',
 '2010-11-10',
 '2010-11-11',
 '2010-11-12',
 '2010-11-15',
 '2010-11-16',
 '2010-11-17',
 '2010-11-18',
 '2010-11-19',
 '2010-11-22',
 '2010-11-23',
 '2010-11-24',
 '2010-11-26',
 '2010-11-29',
 '2010-11-30',
 '2010-12-01',
 '2010-12-02',
 '2010-12-03',
 '2010-12-06',
 '2010-12-07',
 '2010-12-08',
 '2010-12-09',
 '2010-12-10',
 '2010-12-13',
 '2010-12-14',
 '2010-12-15',
 '2010-12-16',
 '2010-12-17',
 '2010-12-20',
 '2010-12-21',
 '2010-12-22',
 '2010-12-23',
 '2010-12-27',
 '2010-12-28',
 '2010-12-29',
 '2010-12-30',
 '2010-12-31',
 '2011-01-03',
 '2011-01-04',
 '2011-01-05',
 '2011-01-06',
 '2011-01-07',
 '2011-01-10',
 '2011-01-11',
 '2011-01-12',
 '2011-01-13',
 '2011-01-14',
 '2011-01-18',
 '2011-01-19',
 '2011-01-20',
 '2011-01-21',
 '2011-01-24',
 '2011-01-25',
 '2011-01-26',
 '2011-01-27',
 '2011-01-28',
 '2011-01-31',
 '2011-02-01',
 '2011-02-02',
 '2011-02-03',
 '2011-02-04',
 '2011-02-07',
 '2011-02-08',
 '2011-02-09',
 '2011-02-10',
 '2011-02-11',
 '2011-02-14',
 '2011-02-15',
 '2011-02-16',
 '2011-02-17',
 '2011-02-18',
 '2011-02-22',
 '2011-02-23',
 '2011-02-24',
 '2011-02-25',
 '2011-02-28',
 '2011-03-01',
 '2011-03-02',
 '2011-03-03',
 '2011-03-04',
 '2011-03-07',
 '2011-03-08',
 '2011-03-09',
 '2011-03-10',
 '2011-03-11',
 '2011-03-14',
 '2011-03-15',
 '2011-03-16',
 '2011-03-17',
 '2011-03-18',
 '2011-03-21',
 '2011-03-22',
 '2011-03-23',
 '2011-03-24',
 '2011-03-25',
 '2011-03-28',
 '2011-03-29',
 '2011-03-30',
 '2011-03-31',
 '2011-04-01',
 '2011-04-04',
 '2011-04-05',
 '2011-04-06',
 '2011-04-07',
 '2011-04-08',
 '2011-04-11',
 '2011-04-12',
 '2011-04-13',
 '2011-04-14',
 '2011-04-15',
 '2011-04-18',
 '2011-04-19',
 '2011-04-20',
 '2011-04-21',
 '2011-04-25',
 '2011-04-26',
 '2011-04-27',
 '2011-04-28',
 '2011-04-29',
 '2011-05-02',
 '2011-05-03',
 '2011-05-04',
 '2011-05-05',
 '2011-05-06',
 '2011-05-09',
 '2011-05-10',
 '2011-05-11',
 '2011-05-12',
 '2011-05-13',
 '2011-05-16',
 '2011-05-17',
 '2011-05-18',
 '2011-05-19',
 '2011-05-20',
 '2011-05-23',
 '2011-05-24',
 '2011-05-25',
 '2011-05-26',
 '2011-05-27',
 '2011-05-31',
 '2011-06-01',
 '2011-06-02',
 '2011-06-03',
 '2011-06-06',
 '2011-06-07',
 '2011-06-08',
 '2011-06-09',
 '2011-06-10',
 '2011-06-13',
 '2011-06-14',
 '2011-06-15',
 '2011-06-16',
 '2011-06-17',
 '2011-06-20',
 '2011-06-21',
 '2011-06-22',
 '2011-06-23',
 '2011-06-24',
 '2011-06-27',
 '2011-06-28',
 '2011-06-29',
 '2011-06-30',
 '2011-07-01',
 '2011-07-05',
 '2011-07-06',
 '2011-07-07',
 '2011-07-08',
 '2011-07-11',
 '2011-07-12',
 '2011-07-13',
 '2011-07-14',
 '2011-07-15',
 '2011-07-18',
 '2011-07-19',
 '2011-07-20',
 '2011-07-21',
 '2011-07-22',
 '2011-07-25',
 '2011-07-26',
 '2011-07-27',
 '2011-07-28',
 '2011-07-29',
 '2011-08-01',
 '2011-08-02',
 '2011-08-03',
 '2011-08-04',
 '2011-08-05',
 '2011-08-08',
 '2011-08-09',
 '2011-08-10',
 '2011-08-11',
 '2011-08-12',
 '2011-08-15',
 '2011-08-16',
 '2011-08-17',
 '2011-08-18',
 '2011-08-19',
 '2011-08-22',
 '2011-08-23',
 '2011-08-24',
 '2011-08-25',
 '2011-08-26',
 '2011-08-29',
 '2011-08-30',
 '2011-08-31',
 '2011-09-01',
 '2011-09-02',
 '2011-09-06',
 '2011-09-07',
 '2011-09-08',
 '2011-09-09',
 '2011-09-12',
 '2011-09-13',
 '2011-09-14',
 '2011-09-15',
 '2011-09-16',
 '2011-09-19',
 '2011-09-20',
 '2011-09-21',
 '2011-09-22',
 '2011-09-23',
 '2011-09-26',
 '2011-09-27',
 '2011-09-28',
 '2011-09-29',
 '2011-09-30',
 '2011-10-03',
 '2011-10-04',
 '2011-10-05',
 '2011-10-06',
 '2011-10-07',
 '2011-10-10',
 '2011-10-11',
 '2011-10-12',
 '2011-10-13',
 '2011-10-14',
 '2011-10-17',
 '2011-10-18',
 '2011-10-19',
 '2011-10-20',
 '2011-10-21',
 '2011-10-24',
 '2011-10-25',
 '2011-10-26',
 '2011-10-27',
 '2011-10-28',
 '2011-10-31',
 '2011-11-01',
 '2011-11-02',
 '2011-11-03',
 '2011-11-04',
 '2011-11-07',
 '2011-11-08',
 '2011-11-09',
 '2011-11-10',
 '2011-11-11',
 '2011-11-14',
 '2011-11-15',
 '2011-11-16',
 '2011-11-17',
 '2011-11-18',
 '2011-11-21',
 '2011-11-22',
 '2011-11-23',
 '2011-11-25',
 '2011-11-28',
 '2011-11-29',
 '2011-11-30',
 '2011-12-01',
 '2011-12-02',
 '2011-12-05',
 '2011-12-06',
 '2011-12-07',
 '2011-12-08',
 '2011-12-09',
 '2011-12-12',
 '2011-12-13',
 '2011-12-14',
 '2011-12-15',
 '2011-12-16',
 '2011-12-19',
 '2011-12-20',
 '2011-12-21',
 '2011-12-22',
 '2011-12-23',
 '2011-12-27',
 '2011-12-28',
 '2011-12-29',
 '2011-12-30',
 '2012-01-03',
 '2012-01-04',
 '2012-01-05',
 '2012-01-06',
 '2012-01-09',
 '2012-01-10',
 '2012-01-11',
 '2012-01-12',
 '2012-01-13',
 '2012-01-17',
 '2012-01-18',
 '2012-01-19',
 '2012-01-20',
 '2012-01-23',
 '2012-01-24',
 '2012-01-25',
 '2012-01-26',
 '2012-01-27',
 '2012-01-30',
 '2012-01-31',
 '2012-02-01',
 '2012-02-02',
 '2012-02-03',
 '2012-02-06',
 '2012-02-07',
 '2012-02-08',
 '2012-02-09',
 '2012-02-10',
 '2012-02-13',
 '2012-02-14',
 '2012-02-15',
 '2012-02-16',
 '2012-02-17',
 '2012-02-21',
 '2012-02-22',
 '2012-02-23',
 '2012-02-24',
 '2012-02-27',
 '2012-02-28',
 '2012-02-29',
 '2012-03-01',
 '2012-03-02',
 '2012-03-05',
 '2012-03-06',
 '2012-03-07',
 '2012-03-08',
 '2012-03-09',
 '2012-03-12',
 '2012-03-13',
 '2012-03-14',
 '2012-03-15',
 '2012-03-16',
 '2012-03-19',
 '2012-03-20',
 '2012-03-21',
 '2012-03-22',
 '2012-03-23',
 '2012-03-26',
 '2012-03-27',
 '2012-03-28',
 '2012-03-29',
 '2012-03-30',
 '2012-04-02',
 '2012-04-03',
 '2012-04-04',
 '2012-04-05',
 '2012-04-09',
 '2012-04-10',
 '2012-04-11',
 '2012-04-12',
 '2012-04-13',
 '2012-04-16',
 '2012-04-17',
 '2012-04-18',
 '2012-04-19',
 '2012-04-20',
 '2012-04-23',
 '2012-04-24',
 '2012-04-25',
 '2012-04-26',
 '2012-04-27',
 '2012-04-30',
 '2012-05-01',
 '2012-05-02',
 '2012-05-03',
 '2012-05-04',
 '2012-05-07',
 '2012-05-08',
 '2012-05-09',
 '2012-05-10',
 '2012-05-11',
 '2012-05-14',
 '2012-05-15',
 '2012-05-16',
 '2012-05-17',
 '2012-05-18',
 '2012-05-21',
 '2012-05-22',
 '2012-05-23',
 '2012-05-24',
 '2012-05-25',
 '2012-05-29',
 '2012-05-30',
 '2012-05-31',
 '2012-06-01',
 '2012-06-04',
 '2012-06-05',
 '2012-06-06',
 '2012-06-07',
 '2012-06-08',
 '2012-06-11',
 '2012-06-12',
 '2012-06-13',
 '2012-06-14',
 '2012-06-15',
 '2012-06-18',
 '2012-06-19',
 '2012-06-20',
 '2012-06-21',
 '2012-06-22',
 '2012-06-25',
 '2012-06-26',
 '2012-06-27',
 '2012-06-28',
 '2012-06-29',
 '2012-07-02',
 '2012-07-03',
 '2012-07-05',
 '2012-07-06',
 '2012-07-09',
 '2012-07-10',
 '2012-07-11',
 '2012-07-12',
 '2012-07-13',
 '2012-07-16',
 '2012-07-17',
 '2012-07-18',
 '2012-07-19',
 '2012-07-20',
 '2012-07-23',
 '2012-07-24',
 '2012-07-25',
 '2012-07-26',
 '2012-07-27',
 '2012-07-30',
 '2012-07-31',
 '2012-08-01',
 '2012-08-02',
 '2012-08-03',
 '2012-08-06',
 '2012-08-07',
 '2012-08-08',
 '2012-08-09',
 '2012-08-10',
 '2012-08-13',
 '2012-08-14',
 '2012-08-15',
 '2012-08-16',
 '2012-08-17',
 '2012-08-20',
 '2012-08-21',
 '2012-08-22',
 '2012-08-23',
 '2012-08-24',
 '2012-08-27',
 '2012-08-28',
 '2012-08-29',
 '2012-08-30',
 '2012-08-31',
 '2012-09-04',
 '2012-09-05',
 '2012-09-06',
 '2012-09-07',
 '2012-09-10',
 '2012-09-11',
 '2012-09-12',
 '2012-09-13',
 '2012-09-14',
 '2012-09-17',
 '2012-09-18',
 '2012-09-19',
 '2012-09-20',
 '2012-09-21',
 '2012-09-24',
 '2012-09-25',
 '2012-09-26',
 '2012-09-27',
 '2012-09-28',
 '2012-10-01',
 '2012-10-02',
 '2012-10-03',
 '2012-10-04',
 '2012-10-05',
 '2012-10-08',
 '2012-10-09',
 '2012-10-10',
 '2012-10-11',
 '2012-10-12',
 '2012-10-15',
 '2012-10-16',
 '2012-10-17',
 '2012-10-18',
 '2012-10-19',
 '2012-10-22',
 '2012-10-23',
 '2012-10-24',
 '2012-10-25',
 '2012-10-26',
 '2012-10-31',
 '2012-11-01',
 '2012-11-02',
 '2012-11-05',
 '2012-11-06',
 '2012-11-07',
 '2012-11-08',
 '2012-11-09',
 '2012-11-12',
 '2012-11-13',
 '2012-11-14',
 '2012-11-15',
 '2012-11-16',
 '2012-11-19',
 '2012-11-20',
 '2012-11-21',
 '2012-11-23',
 '2012-11-26',
 '2012-11-27',
 '2012-11-28',
 '2012-11-29',
 '2012-11-30',
 '2012-12-03',
 '2012-12-04',
 '2012-12-05',
 '2012-12-06',
 '2012-12-07',
 '2012-12-10',
 '2012-12-11',
 '2012-12-12',
 '2012-12-13',
 '2012-12-14',
 '2012-12-17',
 '2012-12-18',
 '2012-12-19',
 '2012-12-20',
 '2012-12-21',
 '2012-12-24',
 '2012-12-26',
 '2012-12-27',
 '2012-12-28',
 '2012-12-31',
 '2013-01-02',
 '2013-01-03',
 '2013-01-04',
 '2013-01-07',
 '2013-01-08',
 '2013-01-09',
 '2013-01-10',
 '2013-01-11',
 '2013-01-14',
 '2013-01-15',
 '2013-01-16',
 '2013-01-17',
 '2013-01-18',
 '2013-01-22',
 '2013-01-23',
 '2013-01-24',
 '2013-01-25',
 '2013-01-28',
 '2013-01-29',
 '2013-01-30',
 '2013-01-31',
 '2013-02-01',
 '2013-02-04',
 '2013-02-05',
 '2013-02-06',
 '2013-02-07',
 '2013-02-08',
 '2013-02-11',
 '2013-02-12',
 '2013-02-13',
 '2013-02-14',
 '2013-02-15',
 '2013-02-19',
 '2013-02-20',
 '2013-02-21',
 '2013-02-22',
 '2013-02-25',
 '2013-02-26',
 '2013-02-27',
 '2013-02-28',
 '2013-03-01',
 '2013-03-04',
 '2013-03-05',
 '2013-03-06',
 '2013-03-07',
 '2013-03-08',
 '2013-03-11',
 '2013-03-12',
 '2013-03-13',
 '2013-03-14',
 '2013-03-15',
 '2013-03-18',
 '2013-03-19',
 '2013-03-20',
 '2013-03-21',
 '2013-03-22',
 '2013-03-25',
 '2013-03-26',
 '2013-03-27',
 '2013-03-28',
 '2013-04-01',
 '2013-04-02',
 '2013-04-03',
 '2013-04-04',
 '2013-04-05',
 '2013-04-08',
 '2013-04-09',
 '2013-04-10',
 '2013-04-11',
 '2013-04-12',
 '2013-04-15',
 '2013-04-16',
 '2013-04-17',
 '2013-04-18',
 '2013-04-19',
 '2013-04-22',
 '2013-04-23',
 '2013-04-24',
 '2013-04-25',
 '2013-04-26',
 '2013-04-29',
 '2013-04-30',
 '2013-05-01',
 '2013-05-02',
 '2013-05-03',
 '2013-05-06',
 '2013-05-07',
 '2013-05-08',
 '2013-05-09',
 '2013-05-10',
 '2013-05-13',
 '2013-05-14',
 '2013-05-15',
 '2013-05-16',
 '2013-05-17',
 '2013-05-20',
 '2013-05-21',
 '2013-05-22',
 '2013-05-23',
 '2013-05-24',
 '2013-05-28',
 '2013-05-29',
 '2013-05-30',
 '2013-05-31',
 '2013-06-03',
 '2013-06-04',
 '2013-06-05',
 '2013-06-06',
 '2013-06-07',
 '2013-06-10',
 '2013-06-11',
 '2013-06-12',
 '2013-06-13',
 '2013-06-14',
 '2013-06-17',
 '2013-06-18',
 '2013-06-19',
 '2013-06-20',
 '2013-06-21',
 '2013-06-24',
 '2013-06-25',
 '2013-06-26',
 '2013-06-27',
 '2013-06-28',
 '2013-07-01',
 '2013-07-02',
 '2013-07-03',
 '2013-07-05',
 '2013-07-08',
 '2013-07-09',
 '2013-07-10',
 '2013-07-11',
 '2013-07-12',
 '2013-07-15',
 '2013-07-16',
 '2013-07-17',
 '2013-07-18',
 '2013-07-19',
 '2013-07-22',
 '2013-07-23',
 '2013-07-24',
 '2013-07-25',
 '2013-07-26',
 '2013-07-29',
 '2013-07-30',
 '2013-07-31',
 '2013-08-01',
 '2013-08-02',
 '2013-08-05',
 '2013-08-06',
 '2013-08-07',
 '2013-08-08',
 '2013-08-09',
 '2013-08-12',
 '2013-08-13',
 '2013-08-14',
 '2013-08-15',
 '2013-08-16',
 '2013-08-19',
 '2013-08-20',
 '2013-08-21',
 '2013-08-22',
 '2013-08-23',
 '2013-08-26',
 '2013-08-27',
 '2013-08-28',
 '2013-08-29',
 '2013-08-30',
 '2013-09-03',
 '2013-09-04',
 '2013-09-05',
 '2013-09-06',
 '2013-09-09',
 '2013-09-10',
 '2013-09-11',
 '2013-09-12',
 '2013-09-13',
 '2013-09-16',
 '2013-09-17',
 '2013-09-18',
 '2013-09-19',
 '2013-09-20',
 '2013-09-23',
 '2013-09-24',
 '2013-09-25',
 '2013-09-26',
 '2013-09-27',
 '2013-09-30',
 '2013-10-01',
 '2013-10-02',
 '2013-10-03',
 '2013-10-04',
 '2013-10-07',
 '2013-10-08',
 '2013-10-09',
 '2013-10-10',
 '2013-10-11',
 '2013-10-14',
 '2013-10-15',
 '2013-10-16',
 '2013-10-17',
 '2013-10-18',
 '2013-10-21',
 '2013-10-22',
 '2013-10-23',
 '2013-10-24',
 '2013-10-25',
 '2013-10-28',
 '2013-10-29',
 '2013-10-30',
 '2013-10-31',
 '2013-11-01',
 '2013-11-04',
 '2013-11-05',
 '2013-11-06',
 '2013-11-07',
 '2013-11-08',
 '2013-11-11',
 '2013-11-12',
 '2013-11-13',
 '2013-11-14',
 '2013-11-15',
 '2013-11-18',
 '2013-11-19',
 '2013-11-20',
 '2013-11-21',
 '2013-11-22',
 ...]

In [9]:
amazon_daily

,open,high,low,close,adjclose,volume,ticker
2009-12-04,143.419998,143.449997,135.110001,137.580002,137.580002,14827400,AMZN
2009-12-07,138.000000,139.000000,133.839996,134.210007,134.210007,7837000,AMZN
2009-12-08,134.300003,136.080002,132.869995,134.110001,134.110001,8002800,AMZN
2009-12-09,134.600006,134.710007,129.820007,131.309998,131.309998,12632900,AMZN
2009-12-10,132.410004,136.190002,132.399994,135.380005,135.380005,11343600,AMZN
...,...,...,...,...,...,...,...
2019-11-26,1779.920044,1797.030029,1778.349976,1796.939941,1796.939941,3181200,AMZN
2019-11-27,1801.000000,1824.500000,1797.310059,1818.510010,1818.510010,3025600,AMZN
2019-11-29,1817.780029,1824.689941,1800.790039,1800.800049,1800.800049,1923400,AMZN
2019-12-02,1804.400024,1805.550049,1762.680054,1781.599976,1781.599976,3925600,AMZN
2019-12-03,1760.000000,1772.869995,1747.229980,1769.959961,1769.959961,3380900,AMZN

In [10]:
amazon_daily.filter(items=["close"])

                  close
2009-12-04   137.580002
2009-12-07   134.210007
2009-12-08   134.110001
2009-12-09   131.309998
2009-12-10   135.380005
...                 ...
2019-11-26  1796.939941
2019-11-27  1818.510010
2019-11-29  1800.800049
2019-12-02  1781.599976
2019-12-03  1769.959961

[2516 rows x 1 columns]

In [11]:
amazon_daily2 = get_data("amzn", start_date="12/04/2009",
                         end_date="12/04/2019", index_as_date=False, interval="1d")

amazon_daily2

,date,open,high,low,close,adjclose,volume,ticker
0,2009-12-04,143.419998,143.449997,135.110001,137.580002,137.580002,14827400,AMZN
1,2009-12-07,138.000000,139.000000,133.839996,134.210007,134.210007,7837000,AMZN
2,2009-12-08,134.300003,136.080002,132.869995,134.110001,134.110001,8002800,AMZN
3,2009-12-09,134.600006,134.710007,129.820007,131.309998,131.309998,12632900,AMZN
4,2009-12-10,132.410004,136.190002,132.399994,135.380005,135.380005,11343600,AMZN
...,...,...,...,...,...,...,...,...
2511,2019-11-26,1779.920044,1797.030029,1778.349976,1796.939941,1796.939941,3181200,AMZN
2512,2019-11-27,1801.000000,1824.500000,1797.310059,1818.510010,1818.510010,3025600,AMZN
2513,2019-11-29,1817.780029,1824.689941,1800.790039,1800.800049,1800.800049,1923400,AMZN
2514,2019-12-02,1804.400024,1805.550049,1762.680054,1781.599976,1781.599976,3925600,AMZN
2515,2019-12-03,1760.000000,1772.869995,1747.229980,1769.959961,1769.959961,3380900,AMZN

In [12]:
list(amazon_daily2)

['date', 'open', 'high', 'low', 'close', 'adjclose', 'volume', 'ticker']

In [13]:
from datetime import datetime
dates = [datetime.utcfromtimestamp(int(unix[0])/1000000000).strftime('%Y-%m-%d %H:%M:%S') for unix in amazon_daily2.filter(items=["date"]).values.tolist()]
dates

['2009-12-04 00:00:00',
 '2009-12-07 00:00:00',
 '2009-12-08 00:00:00',
 '2009-12-09 00:00:00',
 '2009-12-10 00:00:00',
 '2009-12-11 00:00:00',
 '2009-12-14 00:00:00',
 '2009-12-15 00:00:00',
 '2009-12-16 00:00:00',
 '2009-12-17 00:00:00',
 '2009-12-18 00:00:00',
 '2009-12-21 00:00:00',
 '2009-12-22 00:00:00',
 '2009-12-23 00:00:00',
 '2009-12-24 00:00:00',
 '2009-12-28 00:00:00',
 '2009-12-29 00:00:00',
 '2009-12-30 00:00:00',
 '2009-12-31 00:00:00',
 '2010-01-04 00:00:00',
 '2010-01-05 00:00:00',
 '2010-01-06 00:00:00',
 '2010-01-07 00:00:00',
 '2010-01-08 00:00:00',
 '2010-01-11 00:00:00',
 '2010-01-12 00:00:00',
 '2010-01-13 00:00:00',
 '2010-01-14 00:00:00',
 '2010-01-15 00:00:00',
 '2010-01-19 00:00:00',
 '2010-01-20 00:00:00',
 '2010-01-21 00:00:00',
 '2010-01-22 00:00:00',
 '2010-01-25 00:00:00',
 '2010-01-26 00:00:00',
 '2010-01-27 00:00:00',
 '2010-01-28 00:00:00',
 '2010-01-29 00:00:00',
 '2010-02-01 00:00:00',
 '2010-02-02 00:00:00',
 '2010-02-03 00:00:00',
 '2010-02-04 00:00:00',
 '2010-02-05 00:00:00',
 '2010-02-08 00:00:00',
 '2010-02-09 00:00:00',
 '2010-02-10 00:00:00',
 '2010-02-11 00:00:00',
 '2010-02-12 00:00:00',
 '2010-02-16 00:00:00',
 '2010-02-17 00:00:00',
 '2010-02-18 00:00:00',
 '2010-02-19 00:00:00',
 '2010-02-22 00:00:00',
 '2010-02-23 00:00:00',
 '2010-02-24 00:00:00',
 '2010-02-25 00:00:00',
 '2010-02-26 00:00:00',
 '2010-03-01 00:00:00',
 '2010-03-02 00:00:00',
 '2010-03-03 00:00:00',
 '2010-03-04 00:00:00',
 '2010-03-05 00:00:00',
 '2010-03-08 00:00:00',
 '2010-03-09 00:00:00',
 '2010-03-10 00:00:00',
 '2010-03-11 00:00:00',
 '2010-03-12 00:00:00',
 '2010-03-15 00:00:00',
 '2010-03-16 00:00:00',
 '2010-03-17 00:00:00',
 '2010-03-18 00:00:00',
 '2010-03-19 00:00:00',
 '2010-03-22 00:00:00',
 '2010-03-23 00:00:00',
 '2010-03-24 00:00:00',
 '2010-03-25 00:00:00',
 '2010-03-26 00:00:00',
 '2010-03-29 00:00:00',
 '2010-03-30 00:00:00',
 '2010-03-31 00:00:00',
 '2010-04-01 00:00:00',
 '2010-04-05 00:00:00',
 '2010-04-06 00:00:00',
 '2010-04-07 00:00:00',
 '2010-04-08 00:00:00',
 '2010-04-09 00:00:00',
 '2010-04-12 00:00:00',
 '2010-04-13 00:00:00',
 '2010-04-14 00:00:00',
 '2010-04-15 00:00:00',
 '2010-04-16 00:00:00',
 '2010-04-19 00:00:00',
 '2010-04-20 00:00:00',
 '2010-04-21 00:00:00',
 '2010-04-22 00:00:00',
 '2010-04-23 00:00:00',
 '2010-04-26 00:00:00',
 '2010-04-27 00:00:00',
 '2010-04-28 00:00:00',
 '2010-04-29 00:00:00',
 '2010-04-30 00:00:00',
 '2010-05-03 00:00:00',
 '2010-05-04 00:00:00',
 '2010-05-05 00:00:00',
 '2010-05-06 00:00:00',
 '2010-05-07 00:00:00',
 '2010-05-10 00:00:00',
 '2010-05-11 00:00:00',
 '2010-05-12 00:00:00',
 '2010-05-13 00:00:00',
 '2010-05-14 00:00:00',
 '2010-05-17 00:00:00',
 '2010-05-18 00:00:00',
 '2010-05-19 00:00:00',
 '2010-05-20 00:00:00',
 '2010-05-21 00:00:00',
 '2010-05-24 00:00:00',
 '2010-05-25 00:00:00',
 '2010-05-26 00:00:00',
 '2010-05-27 00:00:00',
 '2010-05-28 00:00:00',
 '2010-06-01 00:00:00',
 '2010-06-02 00:00:00',
 '2010-06-03 00:00:00',
 '2010-06-04 00:00:00',
 '2010-06-07 00:00:00',
 '2010-06-08 00:00:00',
 '2010-06-09 00:00:00',
 '2010-06-10 00:00:00',
 '2010-06-11 00:00:00',
 '2010-06-14 00:00:00',
 '2010-06-15 00:00:00',
 '2010-06-16 00:00:00',
 '2010-06-17 00:00:00',
 '2010-06-18 00:00:00',
 '2010-06-21 00:00:00',
 '2010-06-22 00:00:00',
 '2010-06-23 00:00:00',
 '2010-06-24 00:00:00',
 '2010-06-25 00:00:00',
 '2010-06-28 00:00:00',
 '2010-06-29 00:00:00',
 '2010-06-30 00:00:00',
 '2010-07-01 00:00:00',
 '2010-07-02 00:00:00',
 '2010-07-06 00:00:00',
 '2010-07-07 00:00:00',
 '2010-07-08 00:00:00',
 '2010-07-09 00:00:00',
 '2010-07-12 00:00:00',
 '2010-07-13 00:00:00',
 '2010-07-14 00:00:00',
 '2010-07-15 00:00:00',
 '2010-07-16 00:00:00',
 '2010-07-19 00:00:00',
 '2010-07-20 00:00:00',
 '2010-07-21 00:00:00',
 '2010-07-22 00:00:00',
 '2010-07-23 00:00:00',
 '2010-07-26 00:00:00',
 '2010-07-27 00:00:00',
 '2010-07-28 00:00:00',
 '2010-07-29 00:00:00',
 '2010-07-30 00:00:00',
 '2010-08-02 00:00:00',
 '2010-08-03 00:00:00',
 '2010-08-04 00:00:00',
 '2010-08-05 00:00:00',
 '2010-08-06 00:00:00',
 '2010-08-09 00:00:00',
 '2010-08-10 00:00:00',
 '2010-08-11 00:00:00',
 '2010-08-12 00:00:00',
 '2010-08-13 00:00:00',
 '2010-08-16 00:00:00',
 '2010-08-17 00:00:00',
 '2010-08-18 00:00:00',
 '2010-08-19 00:00:00',
 '2010-08-20 00:00:00',
 '2010-08-23 00:00:00',
 '2010-08-24 00:00:00',
 '2010-08-25 00:00:00',
 '2010-08-26 00:00:00',
 '2010-08-27 00:00:00',
 '2010-08-30 00:00:00',
 '2010-08-31 00:00:00',
 '2010-09-01 00:00:00',
 '2010-09-02 00:00:00',
 '2010-09-03 00:00:00',
 '2010-09-07 00:00:00',
 '2010-09-08 00:00:00',
 '2010-09-09 00:00:00',
 '2010-09-10 00:00:00',
 '2010-09-13 00:00:00',
 '2010-09-14 00:00:00',
 '2010-09-15 00:00:00',
 '2010-09-16 00:00:00',
 '2010-09-17 00:00:00',
 '2010-09-20 00:00:00',
 '2010-09-21 00:00:00',
 '2010-09-22 00:00:00',
 '2010-09-23 00:00:00',
 '2010-09-24 00:00:00',
 '2010-09-27 00:00:00',
 '2010-09-28 00:00:00',
 '2010-09-29 00:00:00',
 '2010-09-30 00:00:00',
 '2010-10-01 00:00:00',
 '2010-10-04 00:00:00',
 '2010-10-05 00:00:00',
 '2010-10-06 00:00:00',
 '2010-10-07 00:00:00',
 '2010-10-08 00:00:00',
 '2010-10-11 00:00:00',
 '2010-10-12 00:00:00',
 '2010-10-13 00:00:00',
 '2010-10-14 00:00:00',
 '2010-10-15 00:00:00',
 '2010-10-18 00:00:00',
 '2010-10-19 00:00:00',
 '2010-10-20 00:00:00',
 '2010-10-21 00:00:00',
 '2010-10-22 00:00:00',
 '2010-10-25 00:00:00',
 '2010-10-26 00:00:00',
 '2010-10-27 00:00:00',
 '2010-10-28 00:00:00',
 '2010-10-29 00:00:00',
 '2010-11-01 00:00:00',
 '2010-11-02 00:00:00',
 '2010-11-03 00:00:00',
 '2010-11-04 00:00:00',
 '2010-11-05 00:00:00',
 '2010-11-08 00:00:00',
 '2010-11-09 00:00:00',
 '2010-11-10 00:00:00',
 '2010-11-11 00:00:00',
 '2010-11-12 00:00:00',
 '2010-11-15 00:00:00',
 '2010-11-16 00:00:00',
 '2010-11-17 00:00:00',
 '2010-11-18 00:00:00',
 '2010-11-19 00:00:00',
 '2010-11-22 00:00:00',
 '2010-11-23 00:00:00',
 '2010-11-24 00:00:00',
 '2010-11-26 00:00:00',
 '2010-11-29 00:00:00',
 '2010-11-30 00:00:00',
 '2010-12-01 00:00:00',
 '2010-12-02 00:00:00',
 '2010-12-03 00:00:00',
 '2010-12-06 00:00:00',
 '2010-12-07 00:00:00',
 '2010-12-08 00:00:00',
 '2010-12-09 00:00:00',
 '2010-12-10 00:00:00',
 '2010-12-13 00:00:00',
 '2010-12-14 00:00:00',
 '2010-12-15 00:00:00',
 '2010-12-16 00:00:00',
 '2010-12-17 00:00:00',
 '2010-12-20 00:00:00',
 '2010-12-21 00:00:00',
 '2010-12-22 00:00:00',
 '2010-12-23 00:00:00',
 '2010-12-27 00:00:00',
 '2010-12-28 00:00:00',
 '2010-12-29 00:00:00',
 '2010-12-30 00:00:00',
 '2010-12-31 00:00:00',
 '2011-01-03 00:00:00',
 '2011-01-04 00:00:00',
 '2011-01-05 00:00:00',
 '2011-01-06 00:00:00',
 '2011-01-07 00:00:00',
 '2011-01-10 00:00:00',
 '2011-01-11 00:00:00',
 '2011-01-12 00:00:00',
 '2011-01-13 00:00:00',
 '2011-01-14 00:00:00',
 '2011-01-18 00:00:00',
 '2011-01-19 00:00:00',
 '2011-01-20 00:00:00',
 '2011-01-21 00:00:00',
 '2011-01-24 00:00:00',
 '2011-01-25 00:00:00',
 '2011-01-26 00:00:00',
 '2011-01-27 00:00:00',
 '2011-01-28 00:00:00',
 '2011-01-31 00:00:00',
 '2011-02-01 00:00:00',
 '2011-02-02 00:00:00',
 '2011-02-03 00:00:00',
 '2011-02-04 00:00:00',
 '2011-02-07 00:00:00',
 '2011-02-08 00:00:00',
 '2011-02-09 00:00:00',
 '2011-02-10 00:00:00',
 '2011-02-11 00:00:00',
 '2011-02-14 00:00:00',
 '2011-02-15 00:00:00',
 '2011-02-16 00:00:00',
 '2011-02-17 00:00:00',
 '2011-02-18 00:00:00',
 '2011-02-22 00:00:00',
 '2011-02-23 00:00:00',
 '2011-02-24 00:00:00',
 '2011-02-25 00:00:00',
 '2011-02-28 00:00:00',
 '2011-03-01 00:00:00',
 '2011-03-02 00:00:00',
 '2011-03-03 00:00:00',
 '2011-03-04 00:00:00',
 '2011-03-07 00:00:00',
 '2011-03-08 00:00:00',
 '2011-03-09 00:00:00',
 '2011-03-10 00:00:00',
 '2011-03-11 00:00:00',
 '2011-03-14 00:00:00',
 '2011-03-15 00:00:00',
 '2011-03-16 00:00:00',
 '2011-03-17 00:00:00',
 '2011-03-18 00:00:00',
 '2011-03-21 00:00:00',
 '2011-03-22 00:00:00',
 '2011-03-23 00:00:00',
 '2011-03-24 00:00:00',
 '2011-03-25 00:00:00',
 '2011-03-28 00:00:00',
 '2011-03-29 00:00:00',
 '2011-03-30 00:00:00',
 '2011-03-31 00:00:00',
 '2011-04-01 00:00:00',
 '2011-04-04 00:00:00',
 '2011-04-05 00:00:00',
 '2011-04-06 00:00:00',
 '2011-04-07 00:00:00',
 '2011-04-08 00:00:00',
 '2011-04-11 00:00:00',
 '2011-04-12 00:00:00',
 '2011-04-13 00:00:00',
 '2011-04-14 00:00:00',
 '2011-04-15 00:00:00',
 '2011-04-18 00:00:00',
 '2011-04-19 00:00:00',
 '2011-04-20 00:00:00',
 '2011-04-21 00:00:00',
 '2011-04-25 00:00:00',
 '2011-04-26 00:00:00',
 '2011-04-27 00:00:00',
 '2011-04-28 00:00:00',
 '2011-04-29 00:00:00',
 '2011-05-02 00:00:00',
 '2011-05-03 00:00:00',
 '2011-05-04 00:00:00',
 '2011-05-05 00:00:00',
 '2011-05-06 00:00:00',
 '2011-05-09 00:00:00',
 '2011-05-10 00:00:00',
 '2011-05-11 00:00:00',
 '2011-05-12 00:00:00',
 '2011-05-13 00:00:00',
 '2011-05-16 00:00:00',
 '2011-05-17 00:00:00',
 '2011-05-18 00:00:00',
 '2011-05-19 00:00:00',
 '2011-05-20 00:00:00',
 '2011-05-23 00:00:00',
 '2011-05-24 00:00:00',
 '2011-05-25 00:00:00',
 '2011-05-26 00:00:00',
 '2011-05-27 00:00:00',
 '2011-05-31 00:00:00',
 '2011-06-01 00:00:00',
 '2011-06-02 00:00:00',
 '2011-06-03 00:00:00',
 '2011-06-06 00:00:00',
 '2011-06-07 00:00:00',
 '2011-06-08 00:00:00',
 '2011-06-09 00:00:00',
 '2011-06-10 00:00:00',
 '2011-06-13 00:00:00',
 '2011-06-14 00:00:00',
 '2011-06-15 00:00:00',
 '2011-06-16 00:00:00',
 '2011-06-17 00:00:00',
 '2011-06-20 00:00:00',
 '2011-06-21 00:00:00',
 '2011-06-22 00:00:00',
 '2011-06-23 00:00:00',
 '2011-06-24 00:00:00',
 '2011-06-27 00:00:00',
 '2011-06-28 00:00:00',
 '2011-06-29 00:00:00',
 '2011-06-30 00:00:00',
 '2011-07-01 00:00:00',
 '2011-07-05 00:00:00',
 '2011-07-06 00:00:00',
 '2011-07-07 00:00:00',
 '2011-07-08 00:00:00',
 '2011-07-11 00:00:00',
 '2011-07-12 00:00:00',
 '2011-07-13 00:00:00',
 '2011-07-14 00:00:00',
 '2011-07-15 00:00:00',
 '2011-07-18 00:00:00',
 '2011-07-19 00:00:00',
 '2011-07-20 00:00:00',
 '2011-07-21 00:00:00',
 '2011-07-22 00:00:00',
 '2011-07-25 00:00:00',
 '2011-07-26 00:00:00',
 '2011-07-27 00:00:00',
 '2011-07-28 00:00:00',
 '2011-07-29 00:00:00',
 '2011-08-01 00:00:00',
 '2011-08-02 00:00:00',
 '2011-08-03 00:00:00',
 '2011-08-04 00:00:00',
 '2011-08-05 00:00:00',
 '2011-08-08 00:00:00',
 '2011-08-09 00:00:00',
 '2011-08-10 00:00:00',
 '2011-08-11 00:00:00',
 '2011-08-12 00:00:00',
 '2011-08-15 00:00:00',
 '2011-08-16 00:00:00',
 '2011-08-17 00:00:00',
 '2011-08-18 00:00:00',
 '2011-08-19 00:00:00',
 '2011-08-22 00:00:00',
 '2011-08-23 00:00:00',
 '2011-08-24 00:00:00',
 '2011-08-25 00:00:00',
 '2011-08-26 00:00:00',
 '2011-08-29 00:00:00',
 '2011-08-30 00:00:00',
 '2011-08-31 00:00:00',
 '2011-09-01 00:00:00',
 '2011-09-02 00:00:00',
 '2011-09-06 00:00:00',
 '2011-09-07 00:00:00',
 '2011-09-08 00:00:00',
 '2011-09-09 00:00:00',
 '2011-09-12 00:00:00',
 '2011-09-13 00:00:00',
 '2011-09-14 00:00:00',
 '2011-09-15 00:00:00',
 '2011-09-16 00:00:00',
 '2011-09-19 00:00:00',
 '2011-09-20 00:00:00',
 '2011-09-21 00:00:00',
 '2011-09-22 00:00:00',
 '2011-09-23 00:00:00',
 '2011-09-26 00:00:00',
 '2011-09-27 00:00:00',
 '2011-09-28 00:00:00',
 '2011-09-29 00:00:00',
 '2011-09-30 00:00:00',
 '2011-10-03 00:00:00',
 '2011-10-04 00:00:00',
 '2011-10-05 00:00:00',
 '2011-10-06 00:00:00',
 '2011-10-07 00:00:00',
 '2011-10-10 00:00:00',
 '2011-10-11 00:00:00',
 '2011-10-12 00:00:00',
 '2011-10-13 00:00:00',
 '2011-10-14 00:00:00',
 '2011-10-17 00:00:00',
 '2011-10-18 00:00:00',
 '2011-10-19 00:00:00',
 '2011-10-20 00:00:00',
 '2011-10-21 00:00:00',
 '2011-10-24 00:00:00',
 '2011-10-25 00:00:00',
 '2011-10-26 00:00:00',
 '2011-10-27 00:00:00',
 '2011-10-28 00:00:00',
 '2011-10-31 00:00:00',
 '2011-11-01 00:00:00',
 '2011-11-02 00:00:00',
 '2011-11-03 00:00:00',
 '2011-11-04 00:00:00',
 '2011-11-07 00:00:00',
 '2011-11-08 00:00:00',
 '2011-11-09 00:00:00',
 '2011-11-10 00:00:00',
 '2011-11-11 00:00:00',
 '2011-11-14 00:00:00',
 '2011-11-15 00:00:00',
 '2011-11-16 00:00:00',
 '2011-11-17 00:00:00',
 '2011-11-18 00:00:00',
 '2011-11-21 00:00:00',
 '2011-11-22 00:00:00',
 '2011-11-23 00:00:00',
 '2011-11-25 00:00:00',
 '2011-11-28 00:00:00',
 '2011-11-29 00:00:00',
 '2011-11-30 00:00:00',
 '2011-12-01 00:00:00',
 '2011-12-02 00:00:00',
 '2011-12-05 00:00:00',
 '2011-12-06 00:00:00',
 '2011-12-07 00:00:00',
 '2011-12-08 00:00:00',
 '2011-12-09 00:00:00',
 '2011-12-12 00:00:00',
 '2011-12-13 00:00:00',
 '2011-12-14 00:00:00',
 '2011-12-15 00:00:00',
 '2011-12-16 00:00:00',
 '2011-12-19 00:00:00',
 '2011-12-20 00:00:00',
 '2011-12-21 00:00:00',
 '2011-12-22 00:00:00',
 '2011-12-23 00:00:00',
 '2011-12-27 00:00:00',
 '2011-12-28 00:00:00',
 '2011-12-29 00:00:00',
 '2011-12-30 00:00:00',
 '2012-01-03 00:00:00',
 '2012-01-04 00:00:00',
 '2012-01-05 00:00:00',
 '2012-01-06 00:00:00',
 '2012-01-09 00:00:00',
 '2012-01-10 00:00:00',
 '2012-01-11 00:00:00',
 '2012-01-12 00:00:00',
 '2012-01-13 00:00:00',
 '2012-01-17 00:00:00',
 '2012-01-18 00:00:00',
 '2012-01-19 00:00:00',
 '2012-01-20 00:00:00',
 '2012-01-23 00:00:00',
 '2012-01-24 00:00:00',
 '2012-01-25 00:00:00',
 '2012-01-26 00:00:00',
 '2012-01-27 00:00:00',
 '2012-01-30 00:00:00',
 '2012-01-31 00:00:00',
 '2012-02-01 00:00:00',
 '2012-02-02 00:00:00',
 '2012-02-03 00:00:00',
 '2012-02-06 00:00:00',
 '2012-02-07 00:00:00',
 '2012-02-08 00:00:00',
 '2012-02-09 00:00:00',
 '2012-02-10 00:00:00',
 '2012-02-13 00:00:00',
 '2012-02-14 00:00:00',
 '2012-02-15 00:00:00',
 '2012-02-16 00:00:00',
 '2012-02-17 00:00:00',
 '2012-02-21 00:00:00',
 '2012-02-22 00:00:00',
 '2012-02-23 00:00:00',
 '2012-02-24 00:00:00',
 '2012-02-27 00:00:00',
 '2012-02-28 00:00:00',
 '2012-02-29 00:00:00',
 '2012-03-01 00:00:00',
 '2012-03-02 00:00:00',
 '2012-03-05 00:00:00',
 '2012-03-06 00:00:00',
 '2012-03-07 00:00:00',
 '2012-03-08 00:00:00',
 '2012-03-09 00:00:00',
 '2012-03-12 00:00:00',
 '2012-03-13 00:00:00',
 '2012-03-14 00:00:00',
 '2012-03-15 00:00:00',
 '2012-03-16 00:00:00',
 '2012-03-19 00:00:00',
 '2012-03-20 00:00:00',
 '2012-03-21 00:00:00',
 '2012-03-22 00:00:00',
 '2012-03-23 00:00:00',
 '2012-03-26 00:00:00',
 '2012-03-27 00:00:00',
 '2012-03-28 00:00:00',
 '2012-03-29 00:00:00',
 '2012-03-30 00:00:00',
 '2012-04-02 00:00:00',
 '2012-04-03 00:00:00',
 '2012-04-04 00:00:00',
 '2012-04-05 00:00:00',
 '2012-04-09 00:00:00',
 '2012-04-10 00:00:00',
 '2012-04-11 00:00:00',
 '2012-04-12 00:00:00',
 '2012-04-13 00:00:00',
 '2012-04-16 00:00:00',
 '2012-04-17 00:00:00',
 '2012-04-18 00:00:00',
 '2012-04-19 00:00:00',
 '2012-04-20 00:00:00',
 '2012-04-23 00:00:00',
 '2012-04-24 00:00:00',
 '2012-04-25 00:00:00',
 '2012-04-26 00:00:00',
 '2012-04-27 00:00:00',
 '2012-04-30 00:00:00',
 '2012-05-01 00:00:00',
 '2012-05-02 00:00:00',
 '2012-05-03 00:00:00',
 '2012-05-04 00:00:00',
 '2012-05-07 00:00:00',
 '2012-05-08 00:00:00',
 '2012-05-09 00:00:00',
 '2012-05-10 00:00:00',
 '2012-05-11 00:00:00',
 '2012-05-14 00:00:00',
 '2012-05-15 00:00:00',
 '2012-05-16 00:00:00',
 '2012-05-17 00:00:00',
 '2012-05-18 00:00:00',
 '2012-05-21 00:00:00',
 '2012-05-22 00:00:00',
 '2012-05-23 00:00:00',
 '2012-05-24 00:00:00',
 '2012-05-25 00:00:00',
 '2012-05-29 00:00:00',
 '2012-05-30 00:00:00',
 '2012-05-31 00:00:00',
 '2012-06-01 00:00:00',
 '2012-06-04 00:00:00',
 '2012-06-05 00:00:00',
 '2012-06-06 00:00:00',
 '2012-06-07 00:00:00',
 '2012-06-08 00:00:00',
 '2012-06-11 00:00:00',
 '2012-06-12 00:00:00',
 '2012-06-13 00:00:00',
 '2012-06-14 00:00:00',
 '2012-06-15 00:00:00',
 '2012-06-18 00:00:00',
 '2012-06-19 00:00:00',
 '2012-06-20 00:00:00',
 '2012-06-21 00:00:00',
 '2012-06-22 00:00:00',
 '2012-06-25 00:00:00',
 '2012-06-26 00:00:00',
 '2012-06-27 00:00:00',
 '2012-06-28 00:00:00',
 '2012-06-29 00:00:00',
 '2012-07-02 00:00:00',
 '2012-07-03 00:00:00',
 '2012-07-05 00:00:00',
 '2012-07-06 00:00:00',
 '2012-07-09 00:00:00',
 '2012-07-10 00:00:00',
 '2012-07-11 00:00:00',
 '2012-07-12 00:00:00',
 '2012-07-13 00:00:00',
 '2012-07-16 00:00:00',
 '2012-07-17 00:00:00',
 '2012-07-18 00:00:00',
 '2012-07-19 00:00:00',
 '2012-07-20 00:00:00',
 '2012-07-23 00:00:00',
 '2012-07-24 00:00:00',
 '2012-07-25 00:00:00',
 '2012-07-26 00:00:00',
 '2012-07-27 00:00:00',
 '2012-07-30 00:00:00',
 '2012-07-31 00:00:00',
 '2012-08-01 00:00:00',
 '2012-08-02 00:00:00',
 '2012-08-03 00:00:00',
 '2012-08-06 00:00:00',
 '2012-08-07 00:00:00',
 '2012-08-08 00:00:00',
 '2012-08-09 00:00:00',
 '2012-08-10 00:00:00',
 '2012-08-13 00:00:00',
 '2012-08-14 00:00:00',
 '2012-08-15 00:00:00',
 '2012-08-16 00:00:00',
 '2012-08-17 00:00:00',
 '2012-08-20 00:00:00',
 '2012-08-21 00:00:00',
 '2012-08-22 00:00:00',
 '2012-08-23 00:00:00',
 '2012-08-24 00:00:00',
 '2012-08-27 00:00:00',
 '2012-08-28 00:00:00',
 '2012-08-29 00:00:00',
 '2012-08-30 00:00:00',
 '2012-08-31 00:00:00',
 '2012-09-04 00:00:00',
 '2012-09-05 00:00:00',
 '2012-09-06 00:00:00',
 '2012-09-07 00:00:00',
 '2012-09-10 00:00:00',
 '2012-09-11 00:00:00',
 '2012-09-12 00:00:00',
 '2012-09-13 00:00:00',
 '2012-09-14 00:00:00',
 '2012-09-17 00:00:00',
 '2012-09-18 00:00:00',
 '2012-09-19 00:00:00',
 '2012-09-20 00:00:00',
 '2012-09-21 00:00:00',
 '2012-09-24 00:00:00',
 '2012-09-25 00:00:00',
 '2012-09-26 00:00:00',
 '2012-09-27 00:00:00',
 '2012-09-28 00:00:00',
 '2012-10-01 00:00:00',
 '2012-10-02 00:00:00',
 '2012-10-03 00:00:00',
 '2012-10-04 00:00:00',
 '2012-10-05 00:00:00',
 '2012-10-08 00:00:00',
 '2012-10-09 00:00:00',
 '2012-10-10 00:00:00',
 '2012-10-11 00:00:00',
 '2012-10-12 00:00:00',
 '2012-10-15 00:00:00',
 '2012-10-16 00:00:00',
 '2012-10-17 00:00:00',
 '2012-10-18 00:00:00',
 '2012-10-19 00:00:00',
 '2012-10-22 00:00:00',
 '2012-10-23 00:00:00',
 '2012-10-24 00:00:00',
 '2012-10-25 00:00:00',
 '2012-10-26 00:00:00',
 '2012-10-31 00:00:00',
 '2012-11-01 00:00:00',
 '2012-11-02 00:00:00',
 '2012-11-05 00:00:00',
 '2012-11-06 00:00:00',
 '2012-11-07 00:00:00',
 '2012-11-08 00:00:00',
 '2012-11-09 00:00:00',
 '2012-11-12 00:00:00',
 '2012-11-13 00:00:00',
 '2012-11-14 00:00:00',
 '2012-11-15 00:00:00',
 '2012-11-16 00:00:00',
 '2012-11-19 00:00:00',
 '2012-11-20 00:00:00',
 '2012-11-21 00:00:00',
 '2012-11-23 00:00:00',
 '2012-11-26 00:00:00',
 '2012-11-27 00:00:00',
 '2012-11-28 00:00:00',
 '2012-11-29 00:00:00',
 '2012-11-30 00:00:00',
 '2012-12-03 00:00:00',
 '2012-12-04 00:00:00',
 '2012-12-05 00:00:00',
 '2012-12-06 00:00:00',
 '2012-12-07 00:00:00',
 '2012-12-10 00:00:00',
 '2012-12-11 00:00:00',
 '2012-12-12 00:00:00',
 '2012-12-13 00:00:00',
 '2012-12-14 00:00:00',
 '2012-12-17 00:00:00',
 '2012-12-18 00:00:00',
 '2012-12-19 00:00:00',
 '2012-12-20 00:00:00',
 '2012-12-21 00:00:00',
 '2012-12-24 00:00:00',
 '2012-12-26 00:00:00',
 '2012-12-27 00:00:00',
 '2012-12-28 00:00:00',
 '2012-12-31 00:00:00',
 '2013-01-02 00:00:00',
 '2013-01-03 00:00:00',
 '2013-01-04 00:00:00',
 '2013-01-07 00:00:00',
 '2013-01-08 00:00:00',
 '2013-01-09 00:00:00',
 '2013-01-10 00:00:00',
 '2013-01-11 00:00:00',
 '2013-01-14 00:00:00',
 '2013-01-15 00:00:00',
 '2013-01-16 00:00:00',
 '2013-01-17 00:00:00',
 '2013-01-18 00:00:00',
 '2013-01-22 00:00:00',
 '2013-01-23 00:00:00',
 '2013-01-24 00:00:00',
 '2013-01-25 00:00:00',
 '2013-01-28 00:00:00',
 '2013-01-29 00:00:00',
 '2013-01-30 00:00:00',
 '2013-01-31 00:00:00',
 '2013-02-01 00:00:00',
 '2013-02-04 00:00:00',
 '2013-02-05 00:00:00',
 '2013-02-06 00:00:00',
 '2013-02-07 00:00:00',
 '2013-02-08 00:00:00',
 '2013-02-11 00:00:00',
 '2013-02-12 00:00:00',
 '2013-02-13 00:00:00',
 '2013-02-14 00:00:00',
 '2013-02-15 00:00:00',
 '2013-02-19 00:00:00',
 '2013-02-20 00:00:00',
 '2013-02-21 00:00:00',
 '2013-02-22 00:00:00',
 '2013-02-25 00:00:00',
 '2013-02-26 00:00:00',
 '2013-02-27 00:00:00',
 '2013-02-28 00:00:00',
 '2013-03-01 00:00:00',
 '2013-03-04 00:00:00',
 '2013-03-05 00:00:00',
 '2013-03-06 00:00:00',
 '2013-03-07 00:00:00',
 '2013-03-08 00:00:00',
 '2013-03-11 00:00:00',
 '2013-03-12 00:00:00',
 '2013-03-13 00:00:00',
 '2013-03-14 00:00:00',
 '2013-03-15 00:00:00',
 '2013-03-18 00:00:00',
 '2013-03-19 00:00:00',
 '2013-03-20 00:00:00',
 '2013-03-21 00:00:00',
 '2013-03-22 00:00:00',
 '2013-03-25 00:00:00',
 '2013-03-26 00:00:00',
 '2013-03-27 00:00:00',
 '2013-03-28 00:00:00',

In [14]:
amazon_daily2

,date,open,high,low,close,adjclose,volume,ticker
0,2009-12-04,143.419998,143.449997,135.110001,137.580002,137.580002,14827400,AMZN
1,2009-12-07,138.000000,139.000000,133.839996,134.210007,134.210007,7837000,AMZN
2,2009-12-08,134.300003,136.080002,132.869995,134.110001,134.110001,8002800,AMZN
3,2009-12-09,134.600006,134.710007,129.820007,131.309998,131.309998,12632900,AMZN
4,2009-12-10,132.410004,136.190002,132.399994,135.380005,135.380005,11343600,AMZN
...,...,...,...,...,...,...,...,...
2511,2019-11-26,1779.920044,1797.030029,1778.349976,1796.939941,1796.939941,3181200,AMZN
2512,2019-11-27,1801.000000,1824.500000,1797.310059,1818.510010,1818.510010,3025600,AMZN
2513,2019-11-29,1817.780029,1824.689941,1800.790039,1800.800049,1800.800049,1923400,AMZN
2514,2019-12-02,1804.400024,1805.550049,1762.680054,1781.599976,1781.599976,3925600,AMZN
2515,2019-12-03,1760.000000,1772.869995,1747.229980,1769.959961,1769.959961,3380900,AMZN

In [15]:
common_dates = {'2009-12-04', '2009-12-07', '2009-12-08', '2009-12-09', '2009-12-10', '2009-12-11', '2009-12-14', '2009-12-15'}

new_df = amazon_daily2[amazon_daily2.date.isin(common_dates)].filter(items=["date", "close"])
new_df

        date       close
0 2009-12-04  137.580002
1 2009-12-07  134.210007
2 2009-12-08  134.110001
3 2009-12-09  131.309998
4 2009-12-10  135.380005
5 2009-12-11  134.149994
6 2009-12-14  131.380005
7 2009-12-15  130.229996

In [20]:
returns = [0]
for i in range(len(new_df.close.values)):
    if i != 0:
        returns.append(new_df.close.values[i]/new_df.close.values[i-1] -1)

new_df['returns'] = returns
new_df

        date       close   returns
0 2009-12-04  137.580002  0.000000
1 2009-12-07  134.210007 -0.024495
2 2009-12-08  134.110001 -0.000745
3 2009-12-09  131.309998 -0.020878
4 2009-12-10  135.380005  0.030995
5 2009-12-11  134.149994 -0.009086
6 2009-12-14  131.380005 -0.020648
7 2009-12-15  130.229996 -0.008753

In [27]:
list(new_df.columns)

['date', 'close', 'returns']

In [39]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red"

list(thisdict.values())[0]

'Ford'

In [28]:
new_df

        date       close   returns
0 2009-12-04  137.580002  0.000000
1 2009-12-07  134.210007 -0.024495
2 2009-12-08  134.110001 -0.000745
3 2009-12-09  131.309998 -0.020878
4 2009-12-10  135.380005  0.030995
5 2009-12-11  134.149994 -0.009086
6 2009-12-14  131.380005 -0.020648
7 2009-12-15  130.229996 -0.008753

In [33]:
for header in list(new_df.columns):
    print(f"Hello_{header}")
    new_df.rename(columns={str(header): str(f"Hello_{header}")}, inplace=True)

# new_df.rename(columns={'date':'Hello_date'}, inplace=True)
new_df

Hello_date
Hello_close
Hello_returns

  Hello_date  Hello_close  Hello_returns
0 2009-12-04   137.580002       0.000000
1 2009-12-07   134.210007      -0.024495
2 2009-12-08   134.110001      -0.000745
3 2009-12-09   131.309998      -0.020878
4 2009-12-10   135.380005       0.030995
5 2009-12-11   134.149994      -0.009086
6 2009-12-14   131.380005      -0.020648
7 2009-12-15   130.229996      -0.008753

In [35]:
a = [1,2,3]
b = list(range(3))
a+b

[1, 2, 3, 0, 1, 2]